
html, body {
  margin: 0;
  position: relative;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

input{
  display:none;
}

.flipease {
  transition: 1s ease;
}

.wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  left: calc(40vw);
}
.wrapper:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

#front {
  width: 200px;
  height: 200px;
  background-color: #fffefc;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  color:#0d0040;
  border-radius: 10px;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #e8e1d1;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #6745ff;
  border-radius: 10px;
}

.imageroweven, .imagerowodd {
  position: sticky;
  top: 0px;
  width: 100vw;
  height: auto;
}

.imageroweven {
  animation: gradient 15s ease infinite;
  background-color:bisque ;
}

.imagerowodd {
  animation: gradient 15s ease infinite;
  background-image: linear-gradient( 45deg,  rgba(255,166,0,1) 14.7%, rgb(255, 196, 196) 73% );
}
#checkbox1:checked ~ #drink {
  opacity:1;
}

.beautifullycentered {
  display: block;
  width: 100%;
  text-align: center;
  background-color: red;
}

#glass{
  position: relative;
  width: 500px;
  height: 500px;
  left: calc(50vw - 250px);

}

#drink{
  position: absolute;
  width: 500px;
  height: 500px;
  left: calc(50vw - 250px);
  top: 0;
  opacity:0;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
